.nav-box {
  width: 100%;
}

.navLi:hover {
  border-bottom: 2px solid;
  color: white;
  font-weight: bold;
}

.jumbotron-box {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/jumbotron2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.contactMeForm {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.containerDiv {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDiv h1 {
  font-size: 60px;
}

.heroP {
  font-size: 20px;
}

.aboutP {
  padding: 2em;
  line-height: 2.3;
}

.aboutNumbers {
  font-size: 30px;
}

.divStats {
  display: flex;
  flex-direction: row;
  height: 120px;
  margin: auto;
  width: 700px;
  justify-content: space-around;
}

.servicesBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicesBox h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.servicesBoxCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgS1,
.imgS2,
.imgS3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.contactDiv {
  padding: 3em;
  width: 60%;
}

.contactDiv h1 {
  padding-top: 2em;
  text-align: center;
}

.footerBox {
  background: #343a40;
}

@media only screen and (max-width: 600px) {
  .aboutP {
    padding: 0.5em;
    line-height: 2.3;
  }

  .contactDiv {
    padding: 1em;
    width: 95%;
  }

  .servicesBoxCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .serviceCard {
    margin-bottom: 3em;
  }

  .heroP {
    font-size: 20px;
    text-align: center;
  }
}
